<h1>Listado de alumnos</h1>
<div class="row">
    <mat-form-field col-md-6>
        <mat-label>Filtrar por apellido</mat-label>
        <input type="text" matInput (keyup)="filtrarApellido()">
    </mat-form-field>
    <mat-form-field col-md-6>
        <mat-label>Filtrar por número de comisión</mat-label>
        <input type="text" matInput (keyup)="filtrarComision()">
    </mat-form-field>
</div>
<div class = "row">
    <table mat-table [dataSource]="dataSource" class="col-md-12">
        <ng-container marColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let basealumno">{{ basealumno.nombre}}</td>
        </ng-container>
        <ng-container marColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let basealumno">{{ basealumno.apellido}}</td>
        </ng-container>        
        <ng-container marColumnDef="comision">
            <th mat-header-cell *matHeaderCellDef>Comisión</th>
            <td mat-cell *matCellDef="let basealumno">{{ basealumno.comision}}</td>
        </ng-container>
        <ng-container marColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
            <td mat-cell *matCellDef="let basealumno">{{ basealumno.fechaNacimiento}}</td>
        </ng-container>
        <ng-container marColumnDef="alumnoFrecuente">
            <th mat-header-cell *matHeaderCellDef>¿Es alumno frecuente?</th>
            <td mat-cell *matCellDef="let basealumno">{{ basealumno.alumnoFrecuente}}</td>
        </ng-container>
        <!--Acciones de editar o eliminar-->
        <ng-container marColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Seleccione acción a realizar</th>
            <td mat-cell *matCellDef>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>plus-box-outline</mat-icon>
                </button>
            </td>    
        </ng-container>
        <tr mat-header-row *mat-headerRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>