.h1 {
    color: green;
}
@import "~material-icons/iconfont/material-icons.css";
  
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
  
.title-center {
  margin: 0 auto;
  color: white;
}
  
.title-toolbar {
  background: darkgreen;
}
.mat-icon {
    margin: 5%;
}
/*Navbar*/
.barraLateral {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  background: lightgreen;
  width: 150px;
  height: 500px;
  margin: 12px;
  border: 1px solid green;
}
